@import "tailwindcss";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
button {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

nav a {
  color: inherit;
  transition: color 0.2s;
}

nav a:hover {
  color: rgb(59 130 246);
}
